/*****************************************
全体
*****************************************/
html,body,p {
	margin: 0;
	padding: 0;
}
button, input, select, textarea, pre {
	font-family: inherit;
	font-size: 100%;
}
.white {
	color: white;
}
.black {
	color: black;
}

/*========================================
hタグ
========================================*/
h1 {
	position: relative;
	margin: 0 0 0.25em 0;
	padding: 0 0 0 1em;
	border: 1px solid #446689;
	border-radius: 5px;
	background:linear-gradient(to right, #ffffff 25%, #446689 75%);
}
h1::after {
	position: absolute;
	top: 50%;
	left: 0.5em;
	transform: translateY(-50%);
	content: '';
	width: 0.2em;
	height: 1.2em;
	background-color: #446689;
}
a.h1-anchor {
	display: block;
	padding-top: 15.5em;
	margin-top: -15.5em;
	width: 0;
}
.h1-wrapper {
	margin: 0 0 1em 0;
	padding: 0;
}

h2 {
	position: relative;
	margin: 0;
	padding: 0 0 0 0.5em;
	border-left: 0.25em solid #3498db;
	font-size: 1.5em;
	font-weight: bold;
}
h2::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	height: 1.2em;
	border-bottom: 1px solid #3498db;
}
a.h2-anchor {
	display: block;
	padding-top: 15.5em;
	margin-top: -15.5em;
	width: 0;
}
.h2-wrapper {
	margin: 0 0 1em 1em;
	padding: 0;
}
.h2-contents {
	margin: 0 0 0 0.4em;
	padding: 0;
}
.h2 {
	position: relative;
	margin: 0;
	padding: 0 0 0 0.5em;
	border-left: 0.25em solid #3498db;
	font-size: 1.5em;
	font-weight: bold;
}
.h2::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	height: 1.2em;
	border-bottom: 1px solid #3498db;
}

h3 {
	position: relative;
	margin: 0;
	padding: 0.5em 0 0 0;
	border-bottom: 1px solid #ccc;
	font-size: 1.2em;
	font-weight: bold;
}
.h3 {
	margin: 0;
	padding: 0.5em 0 0 0;
	border-bottom: 1px solid #ccc;
	font-size: 1.2em;
	font-weight: bold;
}
.h3-icon {
	position: relative;
	top: 0.2em;
	margin: 0 0.2em 0 0;
	padding: 0;
	width: 1.3em;
	height: 1.3em;
}

h4 {
	position: relative;
	margin: 0;
	padding: 1em 0 0.5em 0;
	font-weight: bold;
}


/*****************************************
HEADER
*****************************************/
.header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width:calc(100% - 32px);
}

/*========================================
NAVIメニュー
========================================*/
.navi {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: #24140e;
	display: flex;
	overflow: hidden;
	width: 100%;
	border: 1px solid #24140e;
}
.navi ul {
	margin: 0;
	padding: 0;
}
.navi ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0s;
	        transition: all 0s;
}
.navi > ul > li:hover {
	background-color: #d70035;
}

.navi > ul > li > a {
	color: #f7f6f5;
	display: block;
	line-height: 2em;
	padding: 0 1em;
	text-decoration: none;
}
.navi > ul > li > a > .caret {
	border-top: 0.3em solid #f7f6f5;
	border-right: 0.3em solid transparent;
	border-left: 0.3em solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0s linear;
	        transition: color 0s linear;
}
.navi > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}
.navi > ul > li:hover > a > .caret {
	border-top-color: rgb( 255, 255, 255 );
}
.navi > ul > li > .pullDown {
	position: fixed;
	z-index: 10;
	background-color: #24140e;
	border-top: 0;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	width: auto;
	visibility: hidden;
	-webkit-transiton: opacity 0s;
	       transition: opacity 0s;
}
.navi > ul > li:hover > .pullDown {
	display: block;
	opacity: 1;
	visibility: visible;
}
.navi > ul > li > div ul > li {
	display: block;
}
.navi > ul > li > div ul > li > a {
	color: #ffffff;
	display: block;
	padding: 0.4em 0.8em;
	text-decoration: none;
}
.navi > ul > li > div ul > li:hover > a {
	background-color: #d70035;
}

.icon {
	background-image: url(img/toTop.ico);
	background-repeat: no-repeat;
	background-position: center;
}
.icon:hover {
	background-image: url(img/toTop_white.ico);
	background-repeat: no-repeat;
	background-position: center;
}
.navi > .config {
	margin: 0 35px 0 auto;
	color: #f7f6f5;
}
.navi > ul > li > .pullDownConfig {
	position: absolute;
	z-index: 10;
	background-color: #24140e;
	border-top: 0;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	width: auto;
	visibility: hidden;
	-webkit-transiton: opacity 0s;
	       transition: opacity 0s;
}
.navi > ul > li:hover > .pullDownConfig {
	display: block;
	margin: 0 35px 0 auto;
	opacity: 1;
	visibility: visible;
}

/*========================================
memo
========================================*/
.memo {
	width: calc(100% - 51px);
	display: block;
	position: fixed;
	left: 0;
	top: 2em;
}
#memo {
	display: block;
	height: 12em;
	width: 100%;
	background-color: #f7f6f5;
	margin: 0;
	padding: 0.5em;
	border-style: solid;
	border-width: 1px;
	border-color: #aaa;
	overflow-x: scroll;
	overflow-y: scroll;
}


/*****************************************
Contents
*****************************************/
.contents {
	margin: 15.5em 0 15em 0;
	width: calc(100% - 34px);
}

/*========================================
textarea
========================================*/
.textarea {
	display: block;
	background-color: #ffffff;
	margin: 0;
	padding: 0.5em;
	border-style: solid;
	border-width: 1px;
	border-color: #aaa;
	overflow-x: auto;
	overflow-y: scroll;
}

/*========================================
flex-row
========================================*/
.flex-row {
	padding: 0;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.flex-row > .list {
	margin: 0;
	padding: 0 1.5em;
	border-style: solid;
	border-width: 1px;
	border-color: #aaa;
}
.flex-row > .list > ul {
	margin: 0;
	padding: 0.5em 0;
}
.flex-row > .list > ul > li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-transition: all 0s;
	        transition: all 0s;
}
.flex-row > .flex-grow_1 {
	flex-grow: 1;
}
.flex-row > .flex-grow_2 {
	flex-grow: 2;
}
.flex-row > .flex-grow_5 {
	flex-grow: 5;
}

/*========================================
button
========================================*/
.button {
	display: inline-block;
	padding: 0 1em 0 1em;
	text-decoration: none;
	background: #f7f7f7;
	border-left: solid 6px #c82c55;
	color: #c82c55;
	font-weight: bold;
}
.button:active {
	box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
	transform: translateY(2px);
}
.button-h3 {
	float: right;
	top: 0.5em;
	font-size: 0.8em;
}

/*========================================
select
========================================*/
select {
	max-width: 320px;
	padding: 0px 24px;
	font-size: 16px;
	line-height: 1.75;
	color: #333;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	-ms-word-break: normal;
	word-break: normal;
}


/*****************************************
サイドバー見出し
*****************************************/
/*========================================
右サイドバー1
========================================*/
.sbar-r1 {
	background-color: #ffffff; /*メニュー背景色*/
	box-sizing: border-box;
	height: 100%;
	padding: 0; /*メニュー内部上下左右余白*/
	position: fixed;
	right: calc(64px - 100%); /*メニュー横幅①と合わせる*/
	top: 0;
	transition: transform 0.3s linear 0s; /*変化するのにかかる時間*/
	width: calc(100% - 64px); /*メニュー横幅①*/
	z-index: 201;
}
.sbar-r1::before {
	background-color: #ffffff; /*ボタン部分背景色*/
	color: #fff; /*アイコン（フォント）色*/
	content: url("img/memo.png"); /*メニューアイコン*/
	height: 128px;
	border: 1px solid #24140e;
	display: block;
	line-height: auto; /*縦位置中央化*/
	position: absolute;
	top: 0;
	right: 100%;
	text-align: center;
	z-index: 201;
}
.sbar-r1:hover {
	transform: translate(calc(64px - 100%)); /*メニュー横幅①と合わせる*/
	border-left: 3px solid #24140e;
	z-index: 301;
}
.sbar-r1_background {
	background-color: #24140e; /*黒背景部分背景色*/
	display: block;
	height: 100%;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
	width: 100%;
	z-index: -1;
}

/*========================================
右サイドバー2
========================================*/
.sbar-r2 {
	background-color: #ffffff;
	box-sizing: border-box;
	height: 100%;
	padding: 0;
	position: fixed;
	right: -730px;
	top: 0;
	transition: transform 0.3s linear 0s;
	width: 730px; /*メニュー横幅①*/
	z-index: 202;
}
.sbar-r2::before {
	background-color: #fff; /*ボタン部分背景色*/
	color: #fff; /*アイコン（フォント）色*/
	content: url("img/command.png"); /*メニューアイコン*/
	height: 128px;
	border: 1px solid #24140e;
	display: block;
	line-height: auto; /*縦位置中央化*/
	position: absolute;
	top: 129px;
	right: 100%;
	text-align: center;
	z-index: 202;
}
.sbar-r2:hover {
	transform: translate(calc(-730px)); /*メニュー横幅①と合わせる*/
	border-left: 3px solid #24140e;
	z-index: 302;
}
.sbar-r2_background {
	background-color: #24140e; /*黒背景部分背景色*/
	display: block;
	height: 100%;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
	width: 100%;
	z-index: -1;
}

/*========================================
右サイドバー3
========================================*/
.sbar-r3 {
	background-color: #ffffff; /*メニュー背景色*/
	color: #ffffff;
	box-sizing: border-box;
	height: 100%;
	padding: 0; /*メニュー内部上下左右余白*/
	position: fixed;
	right: -730px; /*メニュー横幅①と合わせる*/
	top: 0;
	transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
	width: 730px; /*メニュー横幅①*/
	z-index: 203;
}
.sbar-r3::before {
	background-color: transparent; /*ボタン部分背景色*/
	color: #fff; /*アイコン（フォント）色*/
	content: url("img/whois.png"); /*メニューアイコン*/
	height: 32px;
	border: 1px solid #24140e;
	background-color: #ffffff;
	display: block;
	line-height: auto; /*縦位置中央化*/
	position: absolute;
	top: 257px;
	right: 100%;
	text-align: center;
	z-index: 203;
}
.sbar-r3:hover {
	transform: translate(-730px); /*メニュー横幅①と合わせる*/
	color: #ffffff;
	border-left: 3px solid #24140e;
	z-index: 303;
}
.sbar-r3_background {
	background-color: #24140e; /*黒背景部分背景色*/
	display: block;
	height: 100%;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
	width: 100%;
	z-index: -1;
}

/*========================================
右サイドバーn
========================================*/
.sbar-rn {
	background-color: #ffffff; /*メニュー背景色*/
	color: #ffffff;
	box-sizing: border-box;
	height: 100%;
	padding: 0; /*メニュー内部上下左右余白*/
	position: fixed;
	right: -1459px; /*メニュー横幅①と合わせる*/
	top: 0;
	transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
	width: 1459px; /*メニュー横幅①*/
	z-index: 209;
}
.sbar-rn::before {
	background-color: transparent; /*ボタン部分背景色*/
	color: #fff; /*アイコン（フォント）色*/
	content: url("img/twitter.png"); /*メニューアイコン*/
	height: 32px;
	display: block;
	line-height: auto; /*縦位置中央化*/
	position: absolute;
	bottom: 0px;
	right: 100%;
	text-align: center;
	z-index: 209;
}
.sbar-rn:hover {
	transform: translate(-1459px); /*メニュー横幅①と合わせる*/
	color: #ffffff;
	border-left: 3px solid #55acee;
	z-index: 309;
}
.sbar-rn_background {
	background-color: #24140e; /*黒背景部分背景色*/
	display: block;
	height: 100%;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
	width: 100%;
	z-index: -1;
}


/*****************************************
サイドバー内容
*****************************************/
/*========================================
sbar_contents
========================================*/
.sbar_contents {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.sbar_contents > .h2-contents > .list > ul {
	margin: 0;
	padding: 0.5em 0 0 2em;
}
.sbar_contents > .h2-contents > .list > ul > li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-transition: all 0s;
	        transition: all 0s;
}

/*========================================
sbar-memo
========================================*/
#sbar-memo {
	width: calc(100% - 64px);
}

/*========================================
OTP
========================================*/
.otpTextbox {
	height: 100%;
	width: 12em;
	padding: 0.5em;
	border-radius: 5px;
}
.otpApplyBottun {
	width: 12em;
	padding: 0.5em;
	background: #f7f7f7;
	border-left: solid 6px #c82c55;
	color: #c82c55;
	border-radius: 5px;
}


/*****************************************
footer
*****************************************/
.footer {
}


/*****************************************
Modal
*****************************************/
.popupModal1 > input { /* ラジオボックス非表示 */
	display: none;
}
.popupModal1 > input:nth-child(1) + label { 
	cursor: pointer;
}
.modalPopup2 { /* 初期設定 ポップアップ非表示 */
	display: none;
}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2 {/* ラジオ１ チェックでポップアップ表示 */
	display: block;
	z-index: 998;
	position: fixed;
	width: 90%;
	height: 80%;
	border-radius: 20px;
	left: 50%;
	top: 50%;
	margin-top: 30px;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background: #fff;
	padding: 10px 20px;
	overflow: hidden;
}
@media (min-width: 768px) {/* PCのときはページの真ん中の600x600領域 */
	.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2{
		width: 400px;
		height: 400px;
		padding: 30px;
	}
	.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label {/* ×の位置 */
		left: 50% !important;
		top: 50% !important;
		margin-left: 170px !important;
		margin-top: -198px !important;
		color: #333;
	}
}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2 > div {/* */
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2 > div > iframe {
	width: 100%;
	height:100%;
	border:none;
	display:block;
}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label + .modalPopup2 > div > img {/* ポップアップの中の要素 */
	max-width: 100%;
}
.popupModal1 > input:nth-child(1) + label ~ label {
	display: none;/* ラジオ１ 以外のラベルを初期は非表示 */
}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.70);
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 997;
	text-indent: -999999px;
	overflow: hidden;
}
.popupModal1 > input:nth-child(1):checked + label + input:nth-child(3) + label + input:nth-child(5) + label {
	background: rgba(255, 255, 255, 0.5);
	display: inline-block;
	position: fixed;
	left: 10px;
	bottom: 20px;
	z-index: 999;
	width: 44pt;
	height: 44pt;
	font-size: 40px;
	border-radius: 50%;
	line-height: 44pt;
	text-align: center;
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.popupModal1 > input:nth-child(1) + label + input:nth-child(3):checked + label + input:nth-child(5) + label + .modalPopup2,
.popupModal1 > input:nth-child(1) + label + input:nth-child(3) + label + input:nth-child(5):checked + label + .modalPopup2 { /* ラジオ２と３ どっちかチェックでポップアップ非表示 */
	display: none;
}

.modalPopup2 {
	animation: fadeIn 1s ease 0s 1 normal;
	-webkit-animation: fadeIn 1s ease 0s 1 normal;
}
@keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0}
	100% {opacity: 1}
}
.navi > ul > li > .popupModal1 {
	display: block;
	line-height: 2em;
	padding: 0 1em;
	text-decoration: none;
}

/*========================================
Username
========================================*/
.configTextbox {
	height: 100%;
	width: 15em;
	padding: 0.5em;
	border-radius: 5px;
}
.configApplyBottun {
	width: 16em;
	padding: 0.5em;
	background: #f7f7f7;
	border-left: solid 6px #c82c55;
	color: #c82c55;
	border-radius: 5px;
}


/*========================================
Configトグルボタン
========================================*/
/* === ボタンを表示するエリア ============================== */
.switchArea {
	line-height    : 36px;                /* 1行の高さ          */
	letter-spacing : 0;                   /* 文字間             */
	text-align     : center;              /* 文字位置は中央     */
	font-size      : 15px;                /* 文字サイズ         */
	position       : relative;            /* 親要素が基点       */
	width          : 72px;               /* ボタンの横幅       */
	background     : #fff;                /* デフォルト背景色   */
}
/* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
	display        : none;            /* チェックボックス非表示 */
}
/* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
	display        : block;               /* ボックス要素に変更 */
	box-sizing     : border-box;          /* 枠線を含んだサイズ */
	height         : 36px;                /* ボタンの高さ       */
	border         : 2px solid #7d7d7d;   /* 未選択タブのの枠線 */
	border-radius  : 18px;                /* 角丸               */
}
/* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked +label {
	border-color   : #37a34a;             /* 選択タブの枠線     */
}
/* === 表示する文字（標準） ================================ */
.switchArea label span:after{
	content        : "OFF";               /* 表示する文字       */
	padding        : 0 0 0 26px;          /* 表示する位置       */
	color          : #7d7d7d;             /* 文字色             */
}
/* === 表示する文字（ONのとき） ============================ */
.switchArea  input[type="checkbox"]:checked + label span:after{
	content        : "ON";                /* 表示する文字       */
	padding        : 0 26px 0 0;          /* 表示する位置       */
	color          : #37a34a;             /* 文字色             */
}
/* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg {
	position       : absolute;            /* 親要素からの相対位置*/
	width          : 28px;                /* 丸の横幅           */
	height         : 28px;                /* 丸の高さ           */
	background     : #7d7d7d;             /* カーソルタブの背景 */
	top            : 4px;                 /* 親要素からの位置   */
	left           : 4px;                 /* 親要素からの位置   */
	border-radius  : 14px;                /* 角丸               */
	transition     : .2s;                 /* 滑らか変化         */
}
/* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked ~ #swImg {
	transform      : translateX(35.5px);    /* 丸も右へ移動       */
	background     : #37a34a;             /* カーソルタブの背景 */
}
